body {
  margin: 0;
  padding: 0;
  background-color: #152347;
}

.img-fluid1 {
  width: 30vw;
  height: auto;
}

.img-fluid2 {
  width: 30vw;
  height: auto;
}

.img-fluid3 {
  width: 25vw;
  height: auto;
}

.img-fluid5 {
  width: 40vw;
}

.img-fluid4 {
  width: 98vw;
  height: auto;
}

.img-fluid6 {
  width: 20vw;
  height: auto;
}

.img-fluid7 {
  padding-top: 0.7vw;
  width: 2vw;
  height: auto;
}

.asset1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.asset2 {
  margin-top: 3vw;
  margin-left: 3vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.osl {
  margin-top: 1vw;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 10;
}

.details {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 2vw;
}

.asset3 {
  margin-top: 1vw;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 11;
  z-index: 1;
}

.asset4 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 10;
  z-index: 0;
}

.grid-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 30vw);
    grid-column-gap: 10px;
    padding: 10px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.heading {
  color: #fff922;
  font-size: 48px;
  font-family: "Space Mono", monospace;
}

.text {
  color: #fff;
  font-size: 21px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.promotion {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1.5;
  padding-left: 1.5vw;
  color: #fff;
  font-family: "Space Mono", monospace;
  z-index: 1;
}

.facebook,
.twitter {
  width: 170px;
  height: 150px;
  background-color: #a11ec6;
  z-index: 1;
}

.facebook {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.twitter {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.paragraph {
  font-weight: bold;
  font-size: 14px;
  margin-top: 30px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Space Mono", monospace;
  display: block;
  margin-block-start: 1vw;
  margin-block-end: 1vw;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.logo {
  z-index: inherit;
}

#twitter-icon {
  cursor: pointer;
}

.do-logo {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
  z-index: 1;
}

.dev-logo {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  z-index: 1;
}

.code-of-conduct {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
  z-index: 1;
}

.code-of-conduct a {
  padding: 8vw;
  cursor: pointer;
  text-decoration: none;
  color: #ff00aa;
  font-family: "Space Mono", monospace;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
