@media screen and (max-width: 920px) {
    .grid-container {
        display: flex;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }

    .top-img {
        width: 100%;
        height: 50%;
    }

    .img-fluid3 {
        height: 10%;
        width: 55%;
    }

    .details {
        display: flex;
        flex-direction: column;
    }

    .heading {
        text-align: center;
        font-size: 3.5em;
    }

    .promotion {
        text-align: center;
        font-size: 2.5em;
    }

    .social-tag {
        margin-top: 2.5%;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-big {
        margin-top: 10%;
        height: 75%;
        width: 75%;
        margin-left: 10%;
        margin-right: auto;
    }

    .footer-text {
        text-align: center;
        display: inline;
        font-size: 4em;
        padding: 4%;
    }

    .footer-logo {
        text-align: center;
        padding: 6%;
    }

}